.todo {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    border-radius: 10px;

    .task-count {
        display: flex;
        text-align: center;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}